header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 300px;
  background: url('https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

header .restaurant-title {
  position: absolute;
  top: 20px;
  width: 100vw;
  color: #ffffff;
  font-size: 6rem;
  font-weight: bolder;
  transform: skew(-20deg);
  text-shadow: 30px 20px 0 #000000;
}

#toTop {
  position: absolute;
  top: 75vh;
  left: 6vw;
  font-size: 4rem;
  z-index: 9999;
  color: #ffffff;

  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);

  transition-duration: 1s;
  transition-timing-function: ease;
}

#toTop-icon {
  vertical-align: top;
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -100px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 1.2rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border: none;
}

.card img {
  height: 250px;
  object-fit: cover;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}
